﻿@media print {
    /* Скрыть ненужные элементы */
    body * {
        visibility: hidden;
        font-size: 11px !important;
    }

    #number {
        border: none;
    }

    /* Отобразить контейнер с таблицами и необходимой информацией */
    #maincontainer, #maincontainer *, #header, #header * {
        visibility: visible;
    }

    .box[style*="block"] {
        display: block !important; /* Отображать только раскрытые таблицы */
    }

    /* Оптимизация таблиц */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 3px; /* Минимальные отступы */
        text-align: center;
    }

    /* Убедиться, что адрес и ФИО видны */
    #header {
        display: block;
        margin-bottom: 10px;
    }

    /* Скрытие ненужных блоков */
    .sidebar, .hamburger, .preloader, input, .descr, #datetime {
        display: none;
    }

    .toggle-box:not(:checked) + label {
        display: none;
    }

    /* Убрать отступ для контента при печати */
   .content {
        margin-left: 0 !important; /* Убираем сдвиг для печати */
        transform: none !important; /* Убираем сдвиг через transform */
        position: relative !important; /* Используем position для печати */
        left: 0 !important; /* Устанавливаем сдвиг на 0 */
    width: 100%;
    max-width: 100%


    }

    /* Дополнительная настройка для страницы печати */

    /* Можно установить размеры для страниц */
    @page {
        margin: 0;
    }
    .box {
        page-break-inside: avoid; /* Запрещает разрыв таблицы на странице */
        -webkit-column-break-inside: avoid; /* Для старых браузеров */
    }
}