/* Стили для печати */
@media print {
    body * {
        visibility: hidden;
        font-size: 11px !important;
    }

    #number {
        border: none;
    }

    #maincontainer, #maincontainer *, #header, #header * {
        visibility: visible;
    }

    .box[style*="block"] {
        display: block !important;
    }

    table {
        width: 95%;
        border-collapse: collapse;
        padding: 0px !important;
    }

    th, td {
        padding: 0px !important;
        text-align: center;
    }

    #header {
        display: block;
        margin-bottom: 10px;
    }

    .sidebar, .hamburger, .preloader, input, .descr, #datetime, #filter-container {
        display: none;
    }

    .toggle-box:not(:checked) + label {
        display: none;
    }

    .content {
        margin-left: 0 !important;
        transform: none !important;
        position: relative !important;
        left: 0 !important;
        width: 95% !important;
        max-width: 95% !important;
    }

    @page {
        margin: 10;
    }

    .box {
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }
}

/* Стили для полноэкранного режима */
@media screen and (min-width: 1024px) {
    body.fullscreen * {
        visibility: hidden;
    }

    body.fullscreen #number {
        border: none;
    }

    body.fullscreen #maincontainer, 
    body.fullscreen #maincontainer *, 
    body.fullscreen #header, 
    body.fullscreen #header * {
        visibility: visible;
    }

    body.fullscreen .box[style*="block"] {
        display: block !important;
    }

    body.fullscreen table {
        width: 95%;
        border-collapse: collapse;
        padding: 0px !important;
    }

    body.fullscreen th, 
    body.fullscreen td {
        padding: 0px !important;
        text-align: center;
    }

    body.fullscreen #header {
        display: block;
        margin-bottom: 10px;
    }

    body.fullscreen .sidebar, 
    body.fullscreen .hamburger, 
    body.fullscreen .preloader, 
    body.fullscreen input, 
    body.fullscreen .descr, 
    body.fullscreen #datetime, 
    body.fullscreen #filter-container {
        display: none;
    }

    body.fullscreen .toggle-box:not(:checked) + label {
        display: none;
    }

    body.fullscreen .content {
        margin-left: 0 !important;
        transform: none !important;
        position: relative !important;
        left: 0 !important;
        width: 95%;
        max-width: 95%;
    }
}
